body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; */
    background-image: url('{% static "images/bg.gif" %}');
}
.button {
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    font-family: 'Lato', sans-serif;

}
h1{
    text-align: center;
    color: blanchedalmond;
    font-family: 'Edu TAS Beginner', cursive;

}
/* @keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
} */