{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Lato:ital,wght@1,900&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/hom.css' %}">

    <title>Document</title>
    <style>
        body {
            background-image: url('{% static "images/bg.gif" %}');
        }
    
    </style>
</head>
<body>
    <div class="container">
        <h1 >WELCOME <br>OnlineKuiz-Home-Page</h1><br><br>
        <a href="admin-page" class="button">ADMIN</a>



    </div>
    <a href="selction" class="button">Start-Quiz</a>

    <div class="left-1">
        <div class="txt-1">
            <h2>Rules & Instruction</h2><br>
            <p class="reveal">The term quiz is a capacious one: it can refer to a single game consisting of just a few questions, or it can refer to a large-scale event involving dozens or hundreds of people. Quizzes may be held on a variety of subjects, or they may be on just one. Quiz formats also vary widely, ranging from weekly quizzes at a local pub, with participants competing for glory (and perhaps a few free pints), to widely broadcast television game shows such as Who Wants to Be a Millionaire, with enormous cash prizes on offer.</p>
        </div>
    </div>
    <div class="left-2"> 
        <div class="txt-2">
            <h2>About</h2><br>
            <p >The term quiz is a capacious one: it can refer to a single game consisting of just a few questions, or it can refer to a large-scale event involving dozens or hundreds of people. Quizzes may be held on a variety of subjects, or they may be on just one. Quiz formats also vary widely, ranging from weekly quizzes at a local pub, with participants competing for glory (and perhaps a few free pints), to widely broadcast television game shows such as Who Wants to Be a Millionaire, with enormous cash prizes on offer.</p>
        </div>
    </div>




</body>
</html>

